@import "shortcodes.css";
/* product rare */

/* scollvar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.bg-section {
  position: relative;
}
.bg-section .bg-section-inside {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* noral text */

.login-text {
  font-size: 18px;
  font-weight: 800;
}
.wallet:hover {
  color: var(--primary-color7);
}

/* OPENSEA BUY SECTION */

.button-link-purchase .style-3 {
  height: 9rem;
}
#center {
  justify-content: center;
}
.stroke {
  /* font-size: 2rem;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-1); */
  font-weight: 800;
  font-size: 2rem;
  color: var(--primary-color) !important;
}
.stroke-heading {
  -webkit-text-fill-color: rgb(3, 3, 3);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-1);
}

.slide-cover-img {
  object-fit: cover;
}

.section-card-single {
  overflow: hidden;
  padding: 20px;
}

.selectItem-card1 {
  /* background: var(--bg-slider); */
  /* background-size: cover; */
  position: relative;
  z-index: 2;
  background: url("../images/background/select1.jpeg") no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  /* overflow: hidden; */
  height: 100%;
}
.selectItem-card1:hover {
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
.selectItem-card2 {
  /* background: var(--bg-slider); */
  /* background-size: cover; */
  position: relative;
  z-index: 2;
  background: url("../images/background/select2.jpeg") no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.selectItem-card1 .card {
  overflow: hidden;
}
.iterm {
  /* width: 100%; */
  height: 600px;
}
.pr-section {
  padding: 200px 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    130.35deg,
    rgba(8, 8, 8, 0.35) 77.35%,
    rgba(8, 6, 1, 0.35) 78.23%
  ) !important;
}

.viewHight-90 {
  height: 100vh;
  transition: opacity 1.2s;
}
.active-opacity {
  opacity: 0.1;
}
.selectItem-card1:hover,
.selectItem-card2:hover {
  /* transform: scale(0.9); */
}

.bg-color {
  background-color: #1c1c1d;
}

/* hoverEffect for text */

.selectitem-text {
  top: 10%;
  left: 100%;
  /* transform: translate(-50%, -30%); */
  padding: 10px;
  width: 56%;
  text-align: center;
  border: 1px;
  background-size: 200% auto;
  /* background-image: linear-gradient(
    130.35deg,
    var(--primary-color6) 17.35%,
    var(--primary-color7) 78.23%
  ); */
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  opacity: 0;
  border: unset;
  background-size: 200% auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.selectitem-text::after {
  content: "";
  position: absolute;
  /* border-radius: 100px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* background-image: linear-gradient(130.35deg, #6345ed 17.35%, #dc39fc 78.23%); */

  background-size: cover;
  opacity: 1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.selectitem-img::after {
  background: url("../images/background/select1.jpeg") no-repeat;
  background-size: cover;
  z-index: 1;
}
.selectitem-img1::after {
  background: url("../images/background/select2.jpeg") no-repeat;
  background-size: cover;
  z-index: 1;
}

.selectitem-text:hover {
  top: 30%;
  left: 30%;
  opacity: 1;
  z-index: 0;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.1s ease;
}
.selectitem-text span {
  position: relative;
  top: 30%;
  left: -10%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
  opacity: 0;
}
.selectitem-text:hover span {
  position: relative;
  left: 5%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

/* log menu */

@media only screen and (max-width: 991px) {
  .flex .logout-menu {
    position: relative !important;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX(0px);
    background: none !important;
  }
  .flex .logout-menu .menu-item {
    border: none;
  }
}


/* dash  */

.dashbord{
  background-color: var(--new-color);
  height: 100vh;
}

.dashbord .dash-nav-head{
  background-color: var(--primary-gray);
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
}

.dashbord .dash-nav-head .dash-heading{
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: rgb(0 0 0 / 35%) 0px 1px 2px;
  text-transform: uppercase;
}

.dashbord .dash-nav-head .dash-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

}

.dashbord .dash-nav-head .dash-nav ul li{
  padding: 20px 0;
  text-transform: uppercase;

}

.dashbord .dash-main{
  margin-left: 260px;
  margin-top: 65px;
  overflow: hidden;
}
.dash-top{
  position: fixed;
  width: 100%;
  height: 64px;
  padding-left: 260px;
  background-color: var(--primary-gray);
  z-index: 2;
}
.dash-top .dash-nav-top{
  display: flex;
  align-items: center;
  justify-content: right;
  height: 64px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.24);
  
}