/* product rare */

.bg-section {
  position: relative;
}
.bg-section .bg-section-inside {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OPENSEA BUY SECTION */

.button-link-purchase .style-3 {
  height: 9rem;
}
#center {
  justify-content: center;
}
