@import "shortcodes.css";
/* product rare */

/* scollvar */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.bg-section {
  position: relative;
}
.bg-section .bg-section-inside {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* noral text */

.login-text {
  font-size: 18px;
  font-weight: 800;
}
/* OPENSEA BUY SECTION */

.button-link-purchase .style-3 {
  height: 9rem;
}
#center {
  justify-content: center;
}
.stroke {
  /* font-size: 2rem;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-1); */
  font-weight: 800;
  font-size: 2rem;
  color: var(--primary-color) !important;
}
.stroke-heading {
  -webkit-text-fill-color: rgb(3, 3, 3);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-1);
}

.slide-cover-img {
  object-fit: cover;
}

.section-card-single {
  overflow: hidden;
  padding: 20px;
}

.selectItem-card1 {
  /* background: var(--bg-slider); */
  /* background-size: cover; */
  position: relative;
  z-index: 2;
  background: url("../images/background/select1.jpg") no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  overflow: hidden;
  filter: grayscale(100%);
}
.selectItem-card2 {
  /* background: var(--bg-slider); */
  /* background-size: cover; */
  position: relative;
  z-index: 2;
  background: url("../images/background/select2.jpg") no-repeat;
  background-size: cover;
  transition: transform 0.2s;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.selectItem-card1 .card {
  overflow: hidden;
}
.iterm {
  /* width: 100%; */
  height: 600px;
}
.pr-section {
  padding: 200px 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    130.35deg,
    rgba(8, 8, 8, 0.35) 77.35%,
    rgba(8, 6, 1, 0.35) 78.23%
  ) !important;
}

.viewHight-90 {
  /* height: 95vh; */
  transition: opacity 1.2s;
}
.active-opacity {
  opacity: 0.1;
}
.selectItem-card1:hover,
.selectItem-card2:hover {
  /* transform: scale(0.9); */
}

.bg-color {
  background-color: #1d1d20;
}

/* hoverEffect for text */

.selectitem-text {
  top: 30%;
  left: 100%;
  /* transform: translate(-50%, -30%); */
  padding: 10px;
  width: 56%;
  text-align: center;
  border: 1px;
  background-size: 200% auto;
  /* background-image: linear-gradient(
    130.35deg,
    var(--primary-color6) 17.35%,
    var(--primary-color7) 78.23%
  ); */
  color: rgb(255, 255, 255);
  font-size: 11rem;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  opacity: 0;
  border: unset;
  background-size: 200% auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.selectitem-text::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(130.35deg, #6345ed 17.35%, #dc39fc 78.23%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.selectitem-text:hover {
  top: 30%;
  left: 30%;
  opacity: 1;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.selectitem-text span {
  position: relative;
  top: 20%;
  left: -10%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.selectitem-text:hover span {
  position: relative;

  left: 5%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
